.row {
  margin-left: 20px;
  color: white;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 20px;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  object-fit: cover;
  width: 170px;
  height: 100px;
  margin-right: 10px;
  transition: transform 0.45s;
}

.row-poster:hover {
  transform: scale(1.08);
  /* opacity: 1; */
}

.row-poster-large {
  /* Max height for optimizatio in raw-poster and here */
  height: 250px;
}

.row-poster-large:hover {
  transform: scale(1.09);
}
